@keyframes omikuji {
  from {
    transform: rotate(-36deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img_wrapper {
  text-align: center;
}

.main_img {
  cursor: pointer;
  transform: rotate(-36deg);
  animation: fadeUp .8s linear normal;
  &:hover {
    animation: omikuji .2s linear infinite alternate;
  }
}