@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  // width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-image: url('../../../public/img/jinja.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  animation: fadeUp .8s linear normal;
}

